$piano-body-color: rgb(61, 154, 187);
$piano-key-color: rgb(255, 255, 255);
$piano-key-sharp-color: rgb(57, 57, 57);
$paino-key-active-color: rgb(64, 181, 126);
$paino-key-active-lh-color: rgb(15, 228, 129);
$paino-key-active-rh-color: rgb(46, 229, 242);
$piano-key-width: 2.3%;
