@use '../../styles/partials/variables';

.Piano {
  background: variables.$piano-body-color;
  border-radius: 10px;
  padding: 0.625rem;
  margin: 32px auto;
  display: inline-flex;
  flex-direction: column;
  overflow: scroll;
  width: 96%;
  max-width: 1080px;
  display: flex;
  // flex-direction: column;
  &__controls {
    padding: 1.5rem;
  }
  &__play-toggle {
    border-radius: 3px;
    margin: 0 3px;
    padding: 0.625rem;
    border: 0;
    background: white;
    border: 1px solid white;
    &:hover {
      background: rgb(212, 243, 255);
    }
    &:focus {
      background: white;
      border-color: skyblue;
    }
    &:active {
      background: skyblue;
      border-color: skyblue;
    }
    &::selection {
      background: transparent;
    }
  }
  &__song-select {
    border-radius: 3px;
    margin: 0 3px;
    padding: 0.625rem;
    background: white;
    border: 1px solid white;
    &:hover {
      background: rgb(212, 243, 255);
    }
    &:focus {
      background: white;
      border: 1px solid skyblue;
      outline: none;
    }
    &::selection {
      background: transparent;
    }
  }
  &__keys {
    display: inline-flex;
    justify-content: center;
    height: 25vw;
    min-height: 100px;
    max-height: 200px;
  }
  &__Key {
    flex-shrink: 0;
  }
}

.activeKeyInfo {
  display: none;
}
