.Piano {
  margin: 32px auto;
  overflow: scroll;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  &__Key {
    flex-shrink: 0;
    width: 32px;
    height: 160px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.25s ease-out;
    &--sharp {
      background: black;
      color: white;
      height: 110px;
      width: 24px;
      margin-left: -12px;
      margin-right: -12px;
      z-index: 99;
    }
    &:active,
    &--active {
      cursor: none;
      background: violet;
    }
    &--lh-active {
      cursor: none;
      background: lightgreen;
    }
    &--rh-active {
      cursor: none;
      background: skyblue;
    }
    &::selection {
      background: transparent;
    }
  }
}
